<%- include("Partials/header.ejs") %>

	<body>
			<div class="Contenedor_Albums"> 

				<h1 class="title"> Discografia </h1>  
				<div class="box-container">

				<div class="box">	
				 		
					<img src="https://indierocks.sfo3.digitaloceanspaces.com/wp-content/uploads/2023/01/TheBlaze-Jungle.png" alt="Jungle" title="Jungle 2023">
					<h3> Jungle</h3>
					<p> 10 marzo 2023 10 temas</p>
					<a href="#" class=" btn">	To read more	</a>

				</div>



				
				<div class="box">	
				 		
					<img src="https://m.media-amazon.com/images/I/B190BJ+4wQS._UF1000,1000_QL80_.jpg" alt="Dance hall" title="Dance hall 2018">
					<h3> Dance Hall</h3>
					<p> 7 septiembre 2018  
					10 temas</p>
					<a href="#" class=" btn">	To read more	</a>

				</div>




				
				<div class="box">	
				 		
					<img src="https://www.hoyesarte.com/constelac10n/files/2020/07/The-Blaze-Territory.jpg" alt="Territory" title="Territory 2017">
					<h3> Territory	</h3>
					<p> 24 marzo 2017 6 temas </p>
					<a href="#" class=" btn">	To read more	</a>

				</div>




				
				<div class="box">	
				 		
					<img src="https://i1.sndcdn.com/artworks-pb92maIv75JU-0-t500x500.jpg" alt="Eyes" title="Eyes 2022">
					<h3> Eyes</h3>
					<p> 9 junio 2022</p>
					<a href="#" class=" btn">	To read more	</a>

				</div>
					
				
				<div class="box">	
				 		
					<img src="https://i1.sndcdn.com/artworks-DRxtor9PAbHV-0-t500x500.jpg" alt=" Dreamer" title=" Dreamer 2022">
					<h3> Dreamer</h3>
					<p> 9 noviembre 2022</p>
					<a href="#" class=" btn">	To read more	</a>

				</div>
				<div class="box">	
				 	
					<img src="	https://cdns-images.dzcdn.net/images/cover/d26cbfb01da594601bba4fd5fcc4300e/500x500.jpg" alt=" Somewhere 2020" title=" Somewhere 2020">
					<h3> Somewhere</h3>
					<p>10 enero 2020</p>
					<a href="#" class=" btn">	To read more	</a>

				</div>

			</div>

		</div>
			

		
	
<%- include("Partials/footer.ejs") %>




	</body>

</html>