
<%- include("Partials/header.ejs") %>

<body>



	<div class="contenedor_boximg"> 

 		<div class="boximg">
			
			<img src="https://i.scdn.co/image/ab6761610000e5ebc47d7909754b4c16982e5626" alt="">

		</div>

		<div class="boximg">
			
			<img src="https://warp.la/wp-content/uploads/2023/07/The-Blaze-1.jpg" alt="">

		</div>
		
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnIHBAjPeKG9FDiJFXRUZq4eETwit5bmoAzD3VgUP1yTKqaSVEmUXz83MWGBi1vb5KVSs&usqp=CAU" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqfEV6a6bODNuZG4Y82GEN2_CaoYGX87Swwg&usqp=CAU" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://www.mondosonoro.com/wp-content/uploads/2022/11/TheBlaze.jpg" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR_pz16jZdSYKgleemtwRdgT_JyLbzj5dzKw&usqp=CAU" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0TgHj26HJGBehJWFFLLeUkUBhk5r2FwlUAaiG8DxfXmtbkfLMz-XOwR50f-8hhQ1pjIY&usqp=CAU" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://ggposey.files.wordpress.com/2019/03/fab34a33-1cbc-482d-95f5-86c3aa043ffe.jpeg?w=720" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQD-Q6GNeLnTi6TdSsOtHyFvyqLK9k5kNOasxAIgUxTFJBSUXx8yS_ZCRjS0-S0T_lmfI&usqp=CAU" alt="">

		</div>
			
		<div class="boximg">
			
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQArYZ5MWpnDKod5v7QSgKHSTdQ6v2dbZq65imxYfwe6-8_AXGml1mS4ZvSKgVkCkjNSZQ&usqp=CAU" alt="">

		</div>
		
		
<%- include("Partials/footer.ejs") %>
</body>



		



	</div>
 </div>















</main>
</body>
</html>