
<%- include("Partials/header.ejs") %>
	<body>
	

	<div class="contenedor_videos"> 

			<div class☺="intro_videos">
				
					<p class="A">Videos Musicales</p>

					<p class="B">En una opinion muy personal son videos con alma, cuya reconiccion se basa en fundamento del ser humano siendo lo que es el ser humano. Un ente vivo que puede tener un mundo de emociones y sentimiento.</p>
			</div>


			<div class="lives"> 


				<div class="video1">


					<iframe  src="https://www.youtube.com/embed/uGEDSGCUkXk" title="The Blaze live at Aiguille du Midi in Chamonix, France for Cercle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 

				</div>

			<div class="text_medio_videos">

       LIVES

			</div>
				
				
			<div class="video1">

			
			   
					 <iframe  src="https://www.youtube.com/embed/2bOatOu-sfA" title="The Blaze en el interior de la Gruta de la Salamandra - ARTE Concert" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				 
			

			</div>

			</div>

			<div class="videos_musicales">

			<div class="video2">

				<iframe  src="https://www.youtube.com/embed/2bOatOu-sfA" title="The Blaze en el interior de la Gruta de la Salamandra - ARTE Concert" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

			</div>
			<div class="text_medio_videos">

				LIVES
				</div>

			<div class="video2">
				<iframe  src="https://www.youtube.com/embed/uGEDSGCUkXk" title="The Blaze live at Aiguille du Midi in Chamonix, France for Cercle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

			

			</div>





















			</div>
				






	

				<div class="texto_final_videos"> 
					
					<p>
						Esta es una pequeña recompilacion de los videos que mas me gustan para solamente hacerte esta compilacion se hace necesario tener varios objetos de estudio....Como transmite con los sonidos que escucho y las escenas que veo. 
					</p>
			</div>



	</div>

	<%- include("Partials/footer.ejs") %>

	
</body>


</html>

