
<div class="contenedor_footer">

    <div class="footerIcons"> 

<div class="iconf">Facebook</div>
<div class="iconf">Instagram</div>
<div class="iconf">Wikipedia</div>
<div class="iconf">gertg </div>


    </div>

<div class="text_final"> 
Copyright 2024 by Abraham Aranda
</div>
                

