<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Copyright" content="The blaze">
		<meta name="Author" content="Abraham Aranda">
		<link rel="stylesheet" type="text/css" href="/Format.css">
		
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	


	 <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<title>The blaze</title>
	
	</head>


	<body>
		<header>
			<nav class="nav" >
			
				
 					 <a class=  "nav__div-A1" href="/">Inicio</a>	
			 		<a class=  "nav__div-A1" href="/Videos"> Videos</a>
					 <a class=  "nav__div-A1" href="/Discografia">Discografia</a>
					 <a class=  "nav__div-A1" href="/Contacto">Para mas info</a>
					 <a class=  "nav__div-A1" href="/Galeria">Galeria</a>
					
		
			</nav>
		</header>
